/* Grid layout */
.row {
  content: '';
  display: table;
  clear: both; }

/* Colors */
/* Fonts */
@font-face {
  font-family: 'Octarine';
  src: url("../fonts/Octarine-BoldOblique.eot");
  src: url("../fonts/Octarine-BoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Octarine-BoldOblique.woff2") format("woff2"), url("../fonts/Octarine-BoldOblique.woff") format("woff"), url("../fonts/Octarine-BoldOblique.ttf") format("truetype"), url("../fonts/Octarine-BoldOblique.svg#Octarine-BoldOblique") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Octarine';
  src: url("../fonts/Octarine-Bold.eot");
  src: url("../fonts/Octarine-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Octarine-Bold.woff2") format("woff2"), url("../fonts/Octarine-Bold.woff") format("woff"), url("../fonts/Octarine-Bold.ttf") format("truetype"), url("../fonts/Octarine-Bold.svg#Octarine-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Octarine';
  src: url("../fonts/Octarine-Light.eot");
  src: url("../fonts/Octarine-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Octarine-Light.woff2") format("woff2"), url("../fonts/Octarine-Light.woff") format("woff"), url("../fonts/Octarine-Light.ttf") format("truetype"), url("../fonts/Octarine-Light.svg#Octarine-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Octarine';
  src: url("../fonts/Octarine-LightOblique.eot");
  src: url("../fonts/Octarine-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Octarine-LightOblique.woff2") format("woff2"), url("../fonts/Octarine-LightOblique.woff") format("woff"), url("../fonts/Octarine-LightOblique.ttf") format("truetype"), url("../fonts/Octarine-LightOblique.svg#Octarine-LightOblique") format("svg");
  font-weight: 300;
  font-style: italic; }

/* Basic settings */
body {
  margin: 0;
  padding: 0;
  font-family: Octarine;
  color: #333333; }

*, *::before, *::after {
  border-box: box-sizing; }

/* Main style */
.wrapper {
  padding: 1px; }

.diagram {
  position: relative;
  margin: 49px 0 0 49px; }
  .diagram #data-pie {
    display: inline-block;
    width: 210px;
    height: 250px;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 0 0 10px 5px #e5e5e5; }
    .diagram #data-pie .diagram-title {
      margin: 0;
      padding: 10px 10px 7px 10px;
      border-bottom: 2px solid #e5e5e5; }
    .diagram #data-pie #pie-chart {
      position: relative;
      top: 30px;
      left: 30px; }
  .diagram #data-loader {
    position: absolute;
    left: 240px;
    bottom: 20px;
    padding: 7px 20px 7px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background: #42a5f5; }

.main-form {
  width: 250px;
  margin: 100px 49px;
  padding: 20px;
  background: #e3f2fd; }

#form label {
  margin-bottom: 10px; }

#form .red-star::after {
  content: '*';
  margin-left: 5px;
  color: #e53935; }

#form input {
  display: block;
  width: 240px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  border: none; }

#form #form-btn {
  padding: 7px 10px 7px 10px;
  margin-top: 10px;
  color: #ffffff;
  background: #1565c0;
  outline: none;
  border: none;
  border-radius: 5px; }

#add_cat {
  margin: 50px;
  padding: 7px 10px 7px 10px;
  margin-top: 10px;
  color: #ffffff;
  background: #1565c0;
  outline: none;
  border: none;
  border-radius: 5px; }

table {
  margin: 50px;
  width: 580px;
  border: 1px solid #333333;
  border-top: 30px solid #333333;
  border-collapse: collapse; }

table tr {
  border: 1px solid #333333; }

table td {
  padding: 5px;
  border: 1px solid #333333; }
